[project]
	description = target practice for Gerrithub
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zVMopenstack
[access "refs/for/refs/*"]
	read = group user/zVMopenstack
	read = group z/VM developers
	push = group user/zVMopenstack
	push = group z/VM developers
	label-Code-Review = -2..+2 group user/zVMopenstack
	label-Code-Review = -2..+2 group z/VM developers
	label-Verified = -1..+1 group user/zVMopenstack
	rebase = group user/zVMopenstack
	rebase = group z/VM developers
	removeReviewer = group user/zVMopenstack
	removeReviewer = group z/VM developers
	submit = group user/zVMopenstack
	submit = group z/VM developers
[access "refs/heads/*"]
	read = group user/zVMopenstack
	read = group z/VM developers
	create = group user/zVMopenstack
	create = group z/VM developers
	push = +force group user/zVMopenstack
	push = group z/VM developers
	pushMerge = group user/zVMopenstack
	pushMerge = group z/VM developers
[access "refs/tags/*"]
	push = +force group user/zVMopenstack
	push = group z/VM developers
	pushTag = group user/zVMopenstack
	pushTag = group z/VM developers
	pushSignedTag = group user/zVMopenstack
	pushSignedTag = group z/VM developers
